<!-- _footer.html.erb -->
<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/CowboyPatrick/drink-log-api" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/patrickdwightcampbell/" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="https://patrickcampbell.dev" target="_blank"><i class="fab fa-black-tie"></i></a>
  </div>
  <div class="footer-copyright">
    PATRICK CAMPBELL©
  </div>
</div>