<nav>
  <h1>Drink Log API</h1>
</nav>
<div class="container d-flex">
  <div class="left">
    <div class="mt-4">
      <h2>ABOUT</h2>
      <p>A simple API that allows one to log drinks.  There is a still a lot todo.</p>
      <h3>Sign up</h3>
      <h3>Sign in</h3>
      <h3>New Drink</h3>
      <h3>Delete Drink</h3>
    </div>
  </div>
  <div class="right">
    <div id="display-box">
    </div>
    <div id="right-button">
      <button id="get-drinks" type="button" class="btn btn-warning">Get Some Drinks</button>
    </div>
  </div>
</div>